/* ~-----------------COLORS------------------ */
:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyblue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --lightslate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navyblue-modal: rgba(46, 47, 66, 0.40);
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
}


.container{
    width: 1158px;
    margin: 0 auto;
    padding-right: 156px;
    padding-left: 156px;
}

p h1 h2 h3 h4 h5 h6{
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--white);
}


/* &-----------------STUDIO------------------ */

/* ~-----------------HEADER------------------ */

.header-container{
    display: flex;
    align-items: center;
    gap: 332px;
    border-bottom: 1px solid var(--cornflower, #E7E9FC);
}

.navigation-links{
    display: flex;
    align-items: center;
    
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--iris);
    text-decoration: none;
}

.logo-accent{
    color:var(--navyblue)
}

.link{
    text-decoration: none;
    margin-right: 0;
    display: inline-block;
}

.list{
    list-style-type: none;
}

.navigation a{
    text-decoration: none;
    color: var(--navyblue);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.navigation a:hover{
    color: var(--ocean);
}
.navigation a:focus{
    color: var(--ocean);
}

.address{
    font-style: normal;
}

.contacts a{
    color: var(--slate);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts a:focus{
    color: var(--ocean);
}
.contacts a:hover {
    color: var(--ocean);
}

.navigation-list{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 76px;
}

.navigation-menu{
    padding: 24px 0;
}


.contacts-list{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: auto;
}

/* ~-----------------MAIN------------------ */

/* &-----------------1------------------ */

.studio-first-section{
    background-color: var(--navyblue);
    width: 1440px;
}


.studio-first-background{
    padding-bottom: 188px;
    padding-top: 188px; 
}

.studio-first-title{
    color: var(--white, #FFF);
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    padding-bottom: 48px;
    width: 496px;
    margin: 0 auto;
    
}

.studio-first-button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
}

.studio-first-button:hover{
   background-color: #404BBF 
}

.studio-first-button:focus {
    background-color: #404BBF
}


/* &-----------------2------------------ */

.studio-second-section{
    padding-top: 120px;
}

.studio-second-title{
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.studio-second-p{
    color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.studio-second-list{
    display: flex;
    gap: 24px;
}

.studio-second-item{
    width: calc((100% - 3 * 73) / 4);
}

/* &-----------------3------------------ */

.studio-third-section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.studio-third-third-h{
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.studio-third-list{
    display: flex;
    gap: 24px;
}

.studio-third-item{
    width: calc((100& - 2 * 44) / 3);
}

/* &-----------------4------------------ */

.studio-fourth-section{
    background-color:#F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.studio-fourth-title{
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;

}

.studio-fourth-h{
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.studio-fourth-p{
    color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 32px;
}

.studio-fourth-item{
    background-color: #FFFFFF;
    width: 264px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.studio-fourth-list{
    display: flex;
    gap: 24px;
    margin-top: 72px;
}

/* ~-----------------FOOTER------------------ */

.studio-footer{
    background-color: var(--grey);
}

.logo-accent-footer{
    color: #f4f4fd;
}
.footer-p{
    color: var(--cloud, #F4F4FD);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* &-----------------PORTFOLIO------------------ */

/* ~-----------------MAIN------------------ */

/* &-----------------1------------------ */

.portfolio-first-section{
    padding-top: 96px;
    padding-bottom: 72px;
}

.portfolio-buttons{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0 auto;
}

.portfolio-button{
    font-family: "Roboto", sans-serif;
    color: var(--iris, #4D5AE5);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--cloud, #F4F4FD);
    cursor: pointer;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    display: block;
}

.portfolio-button:hover{
    background-color: #404BBF;
    color: #FFFFFF;
}
.portfolio-button:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}
 
/* &-----------------2------------------ */

.portfolio-second-section{
    padding-bottom: 120px;
}

.portfolio-second-li{
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--white, #FFF);
}

.portfolio-second-items{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.first-portfolio-title{
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-second-text{
    padding: 0px 16px;
    gap: 8px;
}

/* ~-----------------FOOTER------------------ */

.studio-footer{
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-link{
    display: inline-block;
}

.footer-p{
    width: 264px;
    margin-top: 16px;
}